<%# This page is for viewing the current user's profile %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/head %>
  </head>
  <body>
    <%include partials/navbar %>
    <div id="deleteToast" class="toast" style="position: absolute; top: 10px; right: 15px;" data-delay="2500">
        <div class="toast-header">
            <strong class="mr-auto">MTGBuilder</strong>
        </div>
        <div class="toast-body text-dark" id="deleteToastContent"></div>
    </div>
    <!-- #newDeckModal -->
    <div class="modal fade" id="newDeckModal" tabindex="-1" role="dialog" aria-labelledby="newDeckModalTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newDeckModalLabel">New Deck</h5>
          </div>
          <div class="alert alert-danger text-center" role="alert" id="createError"></div>
          <div class="modal-body pb-0">
            <form action="/deck" id="newDeckForm">
              <div class="form-group row">
                <label for="deckTitle" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                  <input class="form-control" type="text" name="deckTitle" id="deckTitle" placeholder="My Deck">
                </div>
              </div>
              <div class="form-group row">
                <label for="deckVisibility" class="col-sm-3 col-form-label">Visibility</label>
                <div class="col-sm-9">
                  <select class="form-control" name="deckVisibility" id="deckVisibility">
                    <option value="3">Private</option>
                    <option value="4" selected>Followers</option>
                    <option value="5">Public</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="cancelDeck">Cancel</button>
            <button type="button" class="btn btn-success" id="confirmDeck">Create Deck</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /#newDeckModal -->
    <div class="container mt-2 pt-2 bg-dark">
      <div class="row">
        <div class="col-9">
          <h3><%= profile.username %> <small class="text-muted text-truncate"><%= profile.status %></small></h3>
        </div>
        <div class="col-3">
          <div class="btn-group" role="group">
            <a href="/user/followers" class="btn btn-primary" role="button">Followers (<%= profile.followers %>)</a>
            <a href="/user/edit" class="btn btn-outline-primary" role="button" data-toggle="tooltip" data-placement="right" title="Edit Profile"><i class="fas fa-user-cog"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Main content (decks) -->
        <div class="col-12 col-md-9">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="align-middle"><h5 class="m-0">Decks</h5></th>
                <th class="align-middle text-right">
                  <button class="btn btn-success" data-toggle="modal" data-target="#newDeckModal"><i class="fas fa-plus"></i> New</button>
                </th>
              </tr>
            </thead>
            <tbody id="deckList">
            </tbody>
            <tfoot id="tfootDeckList"></tfoot>
          </table>
        </div>
        <!-- Sidebar -->
        <div class="col-12 col-md-3">
          <span class="text-truncate"><b>Last Seen:</b> <%= profile.last_login.replace(/(?:^|\ )0/g, ' ') /* Strip leading zeroes */ %></span>
          <br>
          <span class="text-truncate"><b>Joined:</b> <%= profile.joined.replace(/(?:^|\ )0/g, ' ') /* Strip leading zeroes */ %></span>
        </div>
      </div>
    </div>
    <span class="d-none" id="userID"><%= profile.id %></span>
    <%include partials/scripts %>
  </body>
</html>
