<%# This page is for viewing another user's profile %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <%include partials/head %>
  </head>
  <body>
    <%include partials/navbar %>
    <div class="container mt-2 pt-2 bg-dark">
      <div class="row">
        <div class="col-9">
          <h3><%= profile.username %> <small class="text-muted text-truncate"><%= profile.status %></small></h3>
        </div>
        <div class="col-3">
          <div class="btn-group" role="group">
            <button class="btn btn-primary">Followers (<%= profile.followers %>)</button>
            <% if (locals.user) { %>
              <% if (profile.follow == 'sent') { %>
                <button data-follow="<%= profile.id %>" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="right" title="Follow Requested"><i class="fas fa-user-check"></i></button>
              <% } else if (profile.follow == 'accepted') { %>
                <button data-follow="<%= profile.id %>" class="btn btn-outline-primary" id="removeFriend" data-toggle="tooltip" data-placement="right" title="Unfollow"><i class="fas fa-user-minus"></i></button>
              <% } else if (profile.follow == 'none') { %>
                <button data-follow="<%= profile.id %>" class="btn btn-outline-primary" id="addFriend" data-toggle="tooltip" data-placement="right" title="Follow"><i class="fas fa-user-plus"></i></button>
              <% } %>
            <% } else { %>
              <a href="/login" class="btn btn-outline-primary" role="button" data-toggle="tooltip" data-placement="right" title="Follow"><i class="fas fa-user-plus"></i></a>
            <% } %>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Main content (decks) -->
        <div class="col-12 col-md-9">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="align-middle"><h5 class="m-0">Decks</h5></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="deckList">
              <% profile.decks.forEach(deck => { %>
              <tr>
                <td class="align-middle py-2"><%= deck.title %></td>
                <td class="align-middle py-2">
                  <a href="/deck/<%= deck.id %>" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="top" title="Open"><i class="far fa-folder-open"></i></a>
                  <% if (user) { %>
                  <button class="btn btn-success copy-deck" data-deck="<%= deck.id %>" data-toggle="tooltip" data-placement="top" title="Copy"><i class="far fa-copy"></i></button>
                  <% } else { %>
                  <a href="/login" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="top" title="Copy"><i class="far fa-copy"></i></a>
                  <% } %>
                </td>
              </tr>
              <% }) %>
            </tbody>
            <tfoot id="tfootDeckList">
              <% if (!profile.decks || profile.decks.length == 0) { %>
              <tr><td colspan="2" class="text-center">No decks</td></tr>
              <% } %>
            </tfoot>
          </table>
        </div>
        <!-- Sidebar -->
        <div class="col-12 col-md-3">
          <span class="text-truncate"><b>Last Seen:</b> <%= profile.last_login.replace(/(?:^|\ )0/g, ' ') %></span>
          <br>
          <span class="text-truncate"><b>Joined:</b> <%= profile.joined.replace(/(?:^|\ )0/g, ' ') %></span>
        </div>
      </div>
    </div>

    <%include partials/scripts %>
  </body>
</html>
